<section id="about" class="container padding">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="display-4">How It Works</h1>
    </div>
    <hr>
    <div class="col-md-8 offset-md-2">
      <p class="lead"></p>
    </div>
    <div class="col-md-4">
      <h3>Step 1</h3>
      <i class="blue fa fa-list-alt fa-5x"></i>
      <p class="lead"></p>
    </div>
    <div class="col-md-4">
      <h3>Step 2</h3>
      <i class="blue fa fa-users fa-5x"></i>
      <p class="lead"></p>
    </div>
    <div class="col-md-4">
      <h3>Step 3</h3>
      <i class="blue fa fa-comments fa-5x"></i>
      <p class="lead"></p>
    </div>
  </div>
</section>
