<!-- <div id="about" class="container padding">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="display-4">Who We Are</h1>
    </div>
    <hr>
    <div class="col-md-8 offset-md-2">
      <p class="lead">
        SafeSpace is a technological approach to the mental health resource gap. We provide an online, anonymous chatting platform that uniquely allows students to find and chat with others students from a similar background who are dealing with similar issues. For the first time, students can now also chat with trained peer counselors completely anonymously. Our team is striving to provide a tool for the wider community that will enable conversations in a completely safe environment.
      </p>
    </div>
    <div class="col-md-4">
      <i class="blue fa fa-list-alt fa-5x"></i>
    </div>
    <div class="col-md-4">
      <i class="blue fa fa-users fa-5x"></i>
    </div>
    <div class="col-md-4">
      <i class="blue fa fa-comments fa-5x"></i>
    </div>
  </div>
</div> -->
