<section class="container">
  <div class="row text-center">
    <div class="col-md-6 connect">
      <h1>Connect</h1>
      <div class="connect-section">
        <p>
          If you're interested in reaching out to the SafeSpace team, please send us an email at <a href="mailto:safespacebear@gmail.com">safespacebear@gmail.com</a>. You can also find us at <a href="https://www.safespaceberkeley.org" target="_blank">safespaceberkeley.org</a>
        </p>
        <a style="margin-top: -60px" href="https://www.facebook.com/safespacebear" title="Facebook" target="_blank"><i class="fa fa-facebook-square fa-3x blue"></i></a>
      </div>
    </div>
    <div class="col-md-6 crisis">
      <h1>Resources</h1>
      <p>
        <em>Crisis Text Line</em><br><strong>Text "GO" to 741741</strong><br><br>
        <em>Crisis Support Services of Alameda County</em><br><strong>1-800-309-2131</strong>
      </p>
    </div>
  </div>
</section>
