<section class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="display-4"></h1>
    </div>
    <hr>
    <div class="col-md-6">
      <h1>Contact</h1>
      <p>If you're interested in reaching out to the SafeSpace team please send us an email at SafeSpacebear@gmail.com
      Find us also at safespaceberkeley.org</p>
    </div>
    <div class="col-md-6">
      <h1>Resources</h1>
      <p>
        Crisis Text Line Text "GO" to 741741<br>
        Crisis Support Services of Alameda County 1-800-309-2131
      </p>
    </div>
  </div>
</section>
