<section class="container">
  <div class="row text-center">
    <div class="col-md-6">
      <h1 class="contact-heading">Contact</h1>
      <p class="contact-section">
        If you're interested in reaching out to the SafeSpace team, please send us an email at <a href="mailto:safespacebear@gmail.com">safespacebear@gmail.com</a>. You can also find us at <a href="https://www.safespaceberkeley.org" target="_blank">safespaceberkeley.org</a>
      </p>
    </div>
    <div class="col-md-6">
      <h1 class="resources-heading">Resources</h1>
      <p class="resources-section">
        <em>Crisis Text Line</em><br><strong>Text "GO" to 741741</strong><br><br>
        <em>Crisis Support Services of Alameda County</em><br><strong>1-800-309-2131</strong>
      </p>
    </div>
  </div>
</section>
