<header>
  <div class="header-content text-center">
    <h1><span class="light">SAFE</span><span class="blue">SPACE</span></h1>
    <h5>Anonymous Chatting Platform for UC Berkeley Students Suffering from Mental Health</h5>
    <%= link_to 'Join The Community', new_user_registration_path, class: 'btn btn-primary' %>
  </div>
</header>
