<section id="mission" class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="section-heading display-4">Mission</h1>
    </div>
    <div class="col-md-8 offset-md-2">
      <h3 class="mission-header"><em>College can be difficult.</em></h3>
    </div>
    <div class="col-md-8 offset-md-2">
      <h4 class="mission-text">
        You are not alone. Safespace is a completely anonymous platform that allows you to find and chat with other peers and trained peer counselors from similar backgrounds dealing with similar issues.
      </h4>
    </div>
    <div class="col-md-8 offset-md-2">
      <h3 class="mission-header"><em>It's time we all had someone to talk to.</em></h3>
    </div>
  </div>
  <hr>
</section>
