<section id="mission" class="container padding">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="display-4">Mission</h1>
    </div>
    <hr>
    <div class="col-md-8 offset-md-2">
      <p class="lead">
        “Functional depression is not healthy. Everyone thinks you’re okay because you get out of bed and go to work and show up to class. But I’m not. I’m really not.” — Anonymous UC Berkeley Student

        College can be difficult. You're not alone. Safespace is a completely anonymous platform that allows you to find and chat with other peers and trained peer counselors from similar backgrounds dealing with similar issues. It's time we all had someone to talk to.
      </p>
    </div>
  </div>
</section>
