<section id="partners" class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="section-heading display-4 partners">Partners</h1>
    </div>
    <div class="col-md-6 col-lg-3 partner-logo">
      <a href="https://asuc.org" target="_blank">
        <%= image_tag('partners/asuc.png', size: '220x90', title: "Associated Students of the University of California") %>
      </a>
    </div>
    <div class="col-md-6 col-lg-3 partner-logo">
      <a href="https://uhs.berkeley.edu/calbearssayhi" target="_blank">
        <%= image_tag('partners/cal.png', size: '150x100', title: "Cal Bears Say Hi") %>
      </a>
    </div>
    <div class="col-md-6 col-lg-3 partner-logo half-of-us">
      <a href="https://www.ocf.berkeley.edu/~mhc" target="_blank">
        <%= image_tag('partners/half.png', size: '150x150', title: "Half of Us") %>
      </a>
    </div>
    <div class="col-md-6 col-lg-3 partner-logo">
      <a href="https://sspc.berkeley.edu" target="_blank">
        <%= image_tag('partners/sspc.jpg', size: '270x100', title: "Student to Student Peer Counseling") %>
      </a>
    </div>
  </div>
  <hr>
</section>
