<div id="quote" class="container-fluid">
  <div class="row text-center">
    <div class="col-md-8 offset-md-2 quote-content">
      <span><i class="fa fa-quote-left blue"></i></span>
      <span><i class="fa fa-quote-right blue"></i></span>
      <h4 class="quote-text">Functional depression is not healthy. Everyone thinks you’re okay because you get out of bed and go to work and show up to class. But I’m not. I’m really not.</h4><br>
      <h4 class="quote-signature">— Anonymous UC Berkeley Student</h4>
    </div>
  </div>
</div>
