<section id="steps" class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="section-heading display-4">How It Works</h1>
    </div>
    <div class="col-md-4 step">
      <h3 class="step-title">Step 1</h3>
      <i class="fa fa-list-alt fa-5x blue"></i>
      <p class="step-description">Fill out an anonymous and voluntary survey to generate your personal bio for others to view.
    </div>
    <div class="col-md-4 step">
      <h3 class="step-title">Step 2</h3>
      <i class="fa fa-users fa-5x blue"></i>
      <p class="step-description">Filter your search to find people who share similar characteristics which are important to you.</p>
    </div>
    <div class="col-md-4 step">
      <h3 class="step-title">Step 3</h3>
      <i class="fa fa-comments fa-5x blue"></i>
      <p class="step-description">Begin chatting with your fellow peers as you pursue your journey towards mental wellness</p>
    </div>
  </div>
  <hr>
</section>
