/* -------------------------------- */
/* CHAT PAGE
/* -------------------------------- */
.users-box {
  margin-bottom: 20px;
}

.users {
  text-transform: uppercase;
}

div.card-body.users-list ul {
  padding-left: 0px;
  list-style: none;
}

#conversations-list {
  list-style: none;
}

.conversation-box {
  margin-bottom: 20px;
}

div.card-header.conversation-header {
  height: 70px;
  line-height: 50px;
  text-align: center;
}

.messages-list {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.messages-list > ul {
  padding-left: 20px;
}

li.message {
  list-style: none;
}

.message-sent {
  color: #fff;
  background-color: #0076FF;
  border-radius: 5px;
  list-style: none;
  margin: 5px 20px;
  padding: 10px;
  float: right;
  max-width: 325px;
}

.time-sent {
  position: relative;
  font-size: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
  float: right;
}

.message-received {
  color: #222;
  background-color: #D3D3D3;
  border-radius: 5px;
  list-style: none;
  margin: 5px 20px;
  padding: 10px;
  float: left;
  max-width: 325px;
}

.time-received {
  position: relative;
  font-size: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  float: left;
}

.message-form {
  margin-top: 20px;
}

.message-form:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.message-send {
  margin-top: 10px;
  float: right;
}


/* -------------------------------- */
/* CHAT MEDIA QUERIES
/* -------------------------------- */
@media (max-width: 768px) {
  .conversation-box {
    margin-left: -38px;
  }
  .messages-list {
    max-height: 250px;
  }
  .messages-list > ul {
    padding-left: 0px;
  }
  .message-sent {
    max-width: 200px;
  }
  .message-received {
    max-width: 200px;
  }
}
