/* -------------------------------- */
/* FOOTER SECTION
/* -------------------------------- */
footer {
  height: 12%;
  position: absolute;
  width: 100%;
}

footer div {
  height: 100%;
}

footer .row > div {
  width: 100%;
  display: table;
}

footer p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
