/* -------------------------------- */
/* FOOTER CONTENT
/* -------------------------------- */
footer {
  padding: 40px;
  display: table;
  color: #fff;
  text-align: center;
}

footer p {
  width: 100%;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
}
