/* -------------------------------- */
/* NAVIGATION CONTENT
/* -------------------------------- */
.navbar {
  background-color: #1D48A7;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.8s;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-expand-lg .navbar-nav .nav-link:visited {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #3AD2FC;
}

.navbar-expand-lg .navbar-nav .nav-link:active,
.navbar-expand-lg .navbar-nav .nav-link:focus {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: #1D48A7;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .nav-link,
.navbar-expand-lg .navbar-nav .dropdown-menu .nav-link:visited {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .nav-link:hover {
  color: #3AD2FC;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .nav-link:active,
.navbar-expand-lg .navbar-nav .dropdown-menu .nav-link:focus {
  color: #fff;
}

.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar .navbar-toggler {
  border: 1px solid #fff;
}

.navbar .navbar-toggler:hover {
  background-color: #143275;
}

.navbar .navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* -------------------------------- */
/* NAVIGATION MEDIA QUERIES
/* -------------------------------- */
@media (min-width: 768px) {
  .navbar.transparent {
    background-color: transparent;
  }
  .navbar.scroll {
    background-color: #1D48A7;
  }
}
