<!-- <footer class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-12">
      <a href="https://www.facebook.com/SafeSpaceBear" target="_blank"><i class="fa fa-facebook-square fa-2x dark"></i></a>
      <a href="mailto:safespacebear@gmail.com"><i class="fa fa-envelope-square fa-2x dark"></i></a>
    </div>
  </div>
</footer> -->
